h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #FFBE0F; /*Goal is to be black and gold*/
  line-height: 1.5;
  font-weight: 900;
}
h3 {
  font-weight: 700;
  font-size: 1.3rem;
}
h2 {
  color: #FFBE0F;
  font-weight: 700;
  font-size: 2.9rem;
}
em {
  color: #FFBE0F;
}
p {
  color: #595260;
  font-weight: 400;
}
body {
  font-family: "Montserrat", sans-serif;
}
/*****************************classes****************************/

.container-fluid {
  padding: 3% 11%;
}

/* navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2rem;
  font-weight: bold;

}

.nav-item {
  padding: 0 13px;

}

.nav-link {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;

}

/* download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 18%;
  transform: rotate(25deg);
  position: absolute;
  left: 50rem;

}

.feat {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #FFBE0F;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FFE05D;
}
.cat-image {
  width: 15%;
  transform: rotate(30deg);
  margin: 40px 20px 20px 20px;
}

.lady-img {
  width: 15%;
  margin: 40px 20px 20px 20px;
}
.cat-image-2 {
  width: 15%;
  margin: 40px 20px 20px 20px;
}


.press-logo {
  width: 15%;
  margin: 50px 50px 50px;
}

.carousel-item {
  padding: 7% 15%;
}
.pricing-col {
  padding: 3% 2%;
}
.all-col {
  padding-top: 50px;
}
.card {
  padding: 0;

}
.footer-p {
  font-weight: 500;
  font-size: 0.9rem;
}
.plan-for-every-dog {
  color: #232323;
}

.footer-fa {
  padding: 5px 15px;
}

/*****************************ID*****************************/
#title {
  background-color: #171717;

}

#features {
  padding: 7% 15%;
  background-color: #FCECDD;
  position: relative;

}
#testimonials {

  background-color: #171717;
  text-align: center;

}
#press {
  background-color: #FCECDD;
  text-align: center;
  padding: 5%;
}

#pricing {
  padding: 100px;

  text-align: center;
  background-color: #E1E8EB;
}

#cta {
  padding: 12% 15% 8%;
  text-align: center;
  background-color: #171717;
}

#footer {
  padding: 5% 5%;
  text-align: center;
  background-color: #FFE05D;

}

/* media queries */

@media (max-width: 1028px) {

  .title-image {
    position: static;
    transform: rotate(0);
    width: 30%;
  }

  #title {
    text-align: center;
  }

}
